django==4.2.*
python-telegram-bot==20.6.*
aiohttp==3.8.*
environs==9.5.*
django-relativedelta==2.0.*
dj-database-url==2.1.0

# testing
selenium==4.15.*
webdriver_manager==4.0.*
fake_useragent==1.3.*
selenium-wire==5.1.*
undetected-chromedriver==3.5.3

# new testing
playwright==1.39.*

